<footer>
    <!-- Footer Start -->
    <div class="footer-area footer-padding">
        <div class="container-fluid">
            <div class="row d-flex justify-content-between">
                <div class="col-xl-3 col-lg-3 col-md-8 col-sm-12">
                    <div class="single-footer-caption mb-50">
                        <div class="single-footer-caption mb-30">
                            <!-- Font Logo -->
                            <div class="footer-logo mb-35">
                                <a href="index.html" style="font-size: 36px; color: #fff; font-weight: bold; text-decoration: none;">Trendora</a>
                            </div>
                            <div class="footer-tittle">
                                <div class="footer-pera">
                                    <p>Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.</p>
                                </div>
                            </div>
                            <!-- Social -->
                            <div class="footer-social">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Quick Links</h4>
                            <ul>
                                <li><a href="#">Image Licensing</a></li>
                                <li><a href="#">Style Guide</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Shop Category</h4>
                            <ul>
                                <li><a href="#">Image Licensing</a></li>
                                <li><a href="#">Style Guide</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Partners</h4>
                            <ul>
                                <li><a href="#">Image Licensing</a></li>
                                <li><a href="#">Style Guide</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Get in Touch</h4>
                            <ul>
                                <li><a href="#">(89) 982-278 356</a></li>
                                <li><a href="#">demo@colorlib.com</a></li>
                                <li><a href="#">67/A, Colorlib, Green road, NYC</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom Area -->
    <div class="footer-bottom-area">
        <div class="container">
            <div class="footer-border">
                <div class="row d-flex align-items-center">
                    <div class="col-xl-12">
                        <div class="footer-copy-right">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright ©<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
</footer>

<!-- Inline Styles for Responsiveness and Font Logo -->
<style>
    .footer-area {
        background: #1D2547; /* Dark background */
        color: #fff;
        padding: 60px 0;
    }

    .footer-logo a {
        font-family: 'Arial', sans-serif; /* Default font; replace with desired font */
        font-size: 36px; /* Approximate size of original logo */
        color: #fff; /* White color */
        font-weight: bold;
        text-decoration: none;
        display: inline; /* Keep inline, not block */
    }

    .footer-tittle h4 {
        color: #fff;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .footer-pera p {
        color: #ccc;
        font-size: 14px;
    }

    .footer-social {
        display: flex;
        align-items: center;
    }

    .footer-social a {
        color: #fff;
        font-size: 18px;
        margin-right: 15px;
        transition: color 0.3s ease;
    }

    .footer-social a:hover {
        color: #ff4b6e; /* Hover color */
    }

    .footer-tittle ul {
        padding: 0;
        list-style: none;
    }

    .footer-tittle ul li a {
        color: #ccc;
        font-size: 14px;
        text-decoration: none;
        transition: color 0.3s ease;
    }

    .footer-tittle ul li a:hover {
        color: #fff;
    }

    .footer-bottom-area {
        background: #1D2547;
        padding: 20px 0;
    }

    .footer-copy-right p {
        color: #ccc;
        font-size: 14px;
        margin: 0;
        text-align: left; /* Left-aligned by default */
    }

    .footer-copy-right a {
        color: #fff;
        text-decoration: none;
    }

    .footer-copy-right a:hover {
        color: #ff4b6e;
    }

    /* Left Margin */
    .single-footer-caption {
        margin-left: 15px; /* Consistent left margin */
    }

    /* Responsive Adjustments */
    @media (max-width: 991px) {
        .footer-area .row > div {
            margin-bottom: 30px; /* Space between sections on tablet */
        }

        .footer-logo a {
            font-size: 30px; /* Slightly smaller logo */
        }

        .footer-tittle h4 {
            font-size: 18px;
        }

        .footer-pera p, .footer-tittle ul li a {
            font-size: 13px;
        }
    }

    @media (max-width: 767px) {
        .footer-area .row > div {
            margin-bottom: 30px;
            text-align: center; /* Center-align all content in mobile */
        }

        .footer-logo a {
            font-size: 28px;
        }

        .footer-tittle h4 {
            font-size: 16px;
        }

        .footer-tittle ul li {
            margin-bottom: 10px;
        }

        .footer-social {
            justify-content: center; /* Center social icons */
            margin-left: 0; /* Remove left margin in mobile */
        }

        .footer-copy-right p {
            text-align: center; /* Center copyright in mobile */
            margin-left: 0; /* Remove left margin in mobile */
        }

        .single-footer-caption {
            margin-left: 0; /* Remove left margin in mobile */
        }
    }

    @media (max-width: 576px) {
        .footer-logo a {
            font-size: 24px;
        }

        .footer-social a {
            font-size: 16px;
            margin-right: 10px;
        }

        .footer-copy-right p {
            font-size: 12px;
        }
    }
</style>

<!-- Search model end -->
<!-- Scroll Up -->
<div id="back-top">
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->
<!-- Jquery, Popper, Bootstrap -->
<script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
<script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="./assets/js/popper.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>

<!-- Slick-slider , Owl-Carousel ,slick-nav -->
<script src="./assets/js/owl.carousel.min.js"></script>
<script src="./assets/js/slick.min.js"></script>
<script src="./assets/js/jquery.slicknav.min.js"></script>

<!-- One Page, Animated-HeadLin, Date Picker -->
<script src="./assets/js/wow.min.js"></script>
<script src="./assets/js/animated.headline.js"></script>
<script src="./assets/js/jquery.magnific-popup.js"></script>
<script src="./assets/js/gijgo.min.js"></script>

<!-- Nice-select, sticky,Progress -->
<script src="./assets/js/jquery.nice-select.min.js"></script>
<script src="./assets/js/jquery.sticky.js"></script>
<script src="./assets/js/jquery.barfiller.js"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="./assets/js/jquery.counterup.min.js"></script>
<script src="./assets/js/waypoints.min.js"></script>
<script src="./assets/js/jquery.countdown.min.js"></script>
<script src="./assets/js/hover-direction-snake.min.js"></script>

<!-- contact js -->
<script src="./assets/js/contact.js"></script>
<script src="./assets/js/jquery.form.js"></script>
<script src="./assets/js/jquery.validate.min.js"></script>
<script src="./assets/js/mail-script.js"></script>
<script src="./assets/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->	
<script src="./assets/js/plugins.js"></script>
<script src="./assets/js/main.js"></script>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/jquery.nicescroll.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.all.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="./user-assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="./user-assets/js/vendor/jquery-3.6.0.min.js"></script>
<script src="./user-assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
<script src="./user-assets/js/vendor/bootstrap.bundle.min.js"></script>
<script src="./user-assets/js/plugins/slick.js"></script>
<script src="./user-assets/js/plugins/jquery.syotimer.min.js"></script>
<script src="./user-assets/js/plugins/wow.js"></script>
<script src="./user-assets/js/plugins/jquery-ui.js"></script>
<script src="./user-assets/js/plugins/perfect-scrollbar.js"></script>
<script src="./user-assets/js/plugins/magnific-popup.js"></script>
<script src="./user-assets/js/plugins/select2.min.js"></script>
<script src="./user-assets/js/plugins/waypoints.js"></script>
<script src="./user-assets/js/plugins/counterup.js"></script>
<script src="./user-assets/js/plugins/jquery.countdown.min.js"></script>
<script src="./user-assets/js/plugins/images-loaded.js"></script>
<script src="./user-assets/js/plugins/isotope.js"></script>
<script src="./user-assets/js/plugins/scrollup.js"></script>
<script src="./user-assets/js/plugins/jquery.vticker-min.js"></script>
<script src="./user-assets/js/plugins/jquery.theia.sticky.js"></script>
<script src="./user-assets/js/plugins/jquery.elevatezoom.js"></script>
<script src="./user-assets/js/maind134.js?v=3.4"></script>
<script src="./user-assets/js/shopd134.js?v=3.4"></script>
</body>
</html>